.noUi-target {
  box-shadow: none;
}
.noUi-connect {
  background: transparent;
}

#egoTitle {
  margin: 0 45px;
  padding: 15px 10px 5px 20px;
  border-left: 10px solid steelblue;
}

#egoInfoCard {
  width: 100%;
  margin: 20px 0 20px 30px;
}

#controlPanel {
  margin: 0 0 0 30px;
}

#infSlider {
  width: 100%;
  margin: 5px 0 60px 0;
}

#graphSorting {
  width: 100%;
  margin: 5px 0 20px 0;
  padding: 2px 3px;
  background-color: #fafafa;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
}

#egoTimeline {
}

#timeRange {
  position: absolute;
  height: 20px;
}

#startIndicator,
#egoIndicator {
  stroke: #495057;
  stroke-width: 2;
}

#otherIndicatorPub {
  fill: #ddddddaa;
  stroke: #ddd;
}
#otherIndicator {
  stroke: #f78ca0;
  stroke-width: 1;
}

rect#otherInfobox {
  fill: #ffffffdd;
  stroke: #f78ca0;
  stroke-width: 1.5px;
}
text#otherInfobox {
  font-size: 12px;
}

.timeCover {
  fill: #f0f0f0aa;
}

path.viewcount {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
path.viewcount_other {
  fill: none;
  stroke: #f78ca0;
  stroke-width: 1.5px;
}

path.edge {
  fill: none;
  stroke: #aaa;
  opacity: 0.5;
}
path.edge.incoming {
  stroke: steelblue;
  opacity: 1;
}
path.edge.outgoing {
  stroke: #f78ca0;
  opacity: 1;
}

circle.node {
  stroke: #aaa;
  stroke-width: 0.5px;
  cursor: pointer;
}
text.node {
  cursor: pointer;
  font-size: 12px;
}

div.tooltip {
  position: absolute;
  text-align: left;
  vertical-align: middle;
  width: auto;
  height: auto;
  padding: 2px;
  font: 10px sans-serif;
  background: lightsteelblue;
  border: 0.5px solid steelblue;
  border-radius: 5px;
  pointer-events: none;
  z-index: 30;
}
