.DS_Store
.vscode

# Python
__pycache__
.ipynb_checkpoints
*.pyc
.mypy_cache
*.ipynb

# Databases
/neo4j/data
/neo4j/logs
/postgres/pgdata

# Passwords and credentials
/secrets
/jina/.ssh

# Raw data
/data
/backend/data

# Neo4j plugin and import folders
/neo4j/plugins
/neo4j/import
