.mainpage {
  padding: 0px 5% 25px 5%;
}

.searchbox {
  float: right;
  margin-top: 26px;
}

.egohops {
  position: absolute;
  text-align: center;
  width: 124px;
  right: 15px;
  top: 10px;
}

.egohops-buttons {
  margin-top: 3px;
  width: 90%;
  height: 24px;
}

.egohops-label {
  padding: 2px;
}

.three-images {
  width: 32.2%;
  height: 350px;
  border: 1px solid #000000;
  margin: 20px 10px 10px 10px;
}

.singe-image {
  margin: auto;
  margin-top: 5px;
}

.text-block {
  margin: 20px 10px 10px 10px;
}

.header-block {
  padding: 3px 0 5px 5px;
  margin-bottom: 3px;
  color: black;
  background: #c9ccd3;
  background-image: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(100, 100, 100, 0.5) 100%
  );
  background-blend-mode: lighten;
}

.video-block {
  margin: 75px 20px 10px 0px;
}

.column {
  height: 100%;
  /* border: 1px solid #000000; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px 15px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.left {
  float: left;
}

.header {
  width: 100%;
  overflow: hidden;
  padding: 0px 4%;
}

.header a {
  float: left;
  /* color: #444; */
  text-align: center;
  padding: 12px;
  padding-right: 50px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.header a:hover {
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header a.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  padding: 5px;
  padding-left: 15px;
}

.header-right {
  float: right;
}

.search-wrapper {
  z-index: 300;
}
